<% if (message_list.length > 0) { %>
    <div class="c-message">
        <% for (const message of message_list) { %>
            <div
                class="c-message_item mb-8 sm:mb-10 md:mb-12 py-4 px-3 sm:px-4 rounded-2xl bg-dark border-2 border-white duration-100 hover:scale-105"
                <%- `style="box-shadow:
                0 0 3px #fff,
                0 0 3px #fff,
                0 0 32px ${message.user.color},
                0 0 13px ${message.user.color},
                0 0 45px ${message.user.color},
                inset 0 0 20px ${message.user.color}"` %>>
                <div class="w-full relative mb-3 sm:mb-4 md:mb-5">
                    <% if (user && ((user.status || user.admin) || (user._id.toString() === message.user._id.toString()))) { %>
                        <p
                            class="inline-block !mb-0 text-white font-semibold"
                            <%- `style="text-shadow:
                            0 0 3px #fff,
                            0 0 6px #fff,
                            0 0 17px #fff,
                            0 0 28px ${message.user.color},
                            0 0 32px ${message.user.color},
                            0 0 56px ${message.user.color},
                            0 0 72px ${message.user.color},
                            0 0 90px ${message.user.color}"` %>><%= message.user.fullname %>
                        </p>
                        <p class="inline-block absolute right-0 top-1/2 -translate-y-1/2 text-sm"><%= message.createdAt_formatted %></p>
                    <% } else { %>
                        <p class="inline-block !mb-0 text-white font-semibold">Anonymous User</p>
                        <p class="inline-block absolute right-0 top-1/2 -translate-y-1/2 text-sm">Date: ???</p>
                    <% } %>
                </div>

                <div class="w-full flex flex-col sm:flex-row mb-5">
                    <% if (message.user.image.file !== undefined) { %>
                        <div class="w-1/4 mb-3 sm:mb-0">
                            <img
                            src="data:<%= message.user.image.file.contentType %>;base64,
                            <%= message.user.image.file.data.toString('base64') %>"
                            alt="<%= message.user.image.file.name %>"
                            class="w-20 h-20 sm:w-32 sm:h-32 rounded-full"
                            <%- `style="border: 1px solid ${message.user.color}"` %>>
                        </div>
                        <div class="flex-1">
                            <h3 class="mb-3"><%- message.title %></h3>
                            <p><%- message.text %></p>
                        </div>
                    <% } else { %>
                        <div class="w-full">
                            <h3 class="mb-3"><%- message.title %></h3>
                            <p><%- message.text %></p>
                        </div>
                    <% } %> 
                </div>
                
                <% if (user && (user.admin || message.user._id.toString() === user._id.toString())) { %>
                    <form
                        action="/user/<%= message.user._id %>/delete-message"
                        method="POST"
                        class="text-right">
                        <input type="hidden" name="messageid" value="<%= message._id %>">
                        <button type="submit" class="c-btn c-btn--delete">Delete</button>
                    </form>
                <% } %> 
            </div>
        <% } %>
    </div>
<% } %>
