<%- include('./partials/_header') %>

<h1>Become an Admin</h1>
<form
    action="/user/<%= user._id %>/admin"
    method="POST"
    class="c-form">
    <input type="hidden" name="userid" value="<%= user._id %>">
    <div class="c-form__group">
        <label for="status">Admin Password</label>
        <input type="text" id="status" name="status" placeholder="It's a secret!">
    </div>
    <button type="submit" class="c-btn c-btn--submit">Submit</button>
</form>

<% if(errors) { %>
    <div class="c-errors">
        <% errors.forEach(function (err, index) { %>
            <div>
                <p class="text-danger">Error Message: <%= err.msg %></p>
            </div>
        <% }) %> 
    </div>
<% } %> 

<%- include('./partials/_footer') %>
