<%- include('./partials/_header') %>

<h1><%= title %></h1>

<form
    action="/image/create"
    method="POST"
    enctype="multipart/form-data"
    class="c-form">
    <div class="c-form__groups">
        <label for="image">Image (< 300kb)</label>
        <input type="file" id="image" name="image" required>
    </div>
    <button type="submit" class="c-btn c-btn-submit">Submit</button>
</form>

<% if(errors) { %>
    <div class="c-errors">
        <% errors.forEach(function (err, index) { %>
            <div>
                <h4>Error #<%= index + 1 %></h4>
                <p>Error Message: <%= err.msg %></p>
                <p>Parameter: <%= err.param %></p>
            </div>
        <% }) %> 
    </div>
<% } %> 

<%- include('./partials/_footer') %>