<%- include('./partials/_header') %>

<div class="w-full sm:max-w-md sm:mx-auto c-user-form">
    <h1 class="text-3xl sm:text-4xl md:text-5xl mb-5 sm:mb-8 md:mb-10 font-bold">💎 VIP Area 💎</h1>
    <form
        action="/user/<%= user._id %>/status"
        method="POST"
        class="c-form">
        <input type="hidden" name="userid" value="<%= user._id %>">
        <div class="c-form__group">
            <label for="status">What the secret password? 🤫</label>
            <input type="text" id="status" name="status" placeholder="Name of Spongebob's pet">
        </div>
        <button type="submit" class="c-btn c-btn--submit">Become VIP</button>
    </form>
</div>

<% if(errors) { %>
    <div class="c-errors">
        <% errors.forEach(function (err, index) { %>
            <div>
                <p class="text-danger">Error Message: <%= err.msg %></p>
            </div>
        <% }) %> 
    </div>
<% } %> 

<%- include('./partials/_footer') %>
