<%- include('partials/_header') %>

<h1><%= title %></h1>
<p>Name: <%= `${user.firstname} ${user.lastname}` %></p>
<p>Email: <%= user.email %></p>
<p>Status: <%= user.status ? 'VIP' : 'Standard' %></p>
<p>Admin: <%= adminStatus ? 'Yes' : 'No' %></p>
<% if (!adminStatus) { %>
    <a href="<%= user.url %>/admin">Become an Admin</a>
<% } %> 
<img
    src="data:<%= user.image.file.contentType %>;base64,
    <%= user.image.file.data.toString('base64') %>"
    alt="<%= user.image.file.name %>"
    class="">
<div>
    <p>Color: <span <%- `style="background-color: ${user.color}"` %>><%= user.color %></span></p>
</div>

<%- include('./partials/_message_form') %>

<!-- START message list -->
<!-- TODO: pass down message_list as props? -->
<%- include('./partials/_message') %>
<!-- END message list -->

<%- include('partials/_footer') %>
